@import "tailwindcss";

@theme {
  --color-edu-navy: #003366; /*warna tombol & logo*/
  --color-edu-bg: #f8f9fa; /*latar belakang halaman*/
  --color-edu-text-gray: #666666; /*warna subtitle & label*/
  --animate-spin-slow: spin 12s linear infinite; /*animasi lambat untuk kompas*/
}

body {
  @apply bg-edu-bg text-gray-900 antialiased;
}
