@import "tailwindcss";

@theme {
  --color-edu-navy: #003366; /* Warna tombol & logo */
  --color-edu-bg: #f8f9fa; /* Latar belakang halaman */
  --color-edu-text-gray: #666666; /* Warna subtitle & label */
}

body {
  @apply bg-edu-bg text-gray-900 antialiased;
}
